---
import { Image } from 'astro:assets';

const isHomePage = Astro.url.pathname === '/';
---

<header class="header">
  <div class="header-content">
    {
      isHomePage ? (
        <Image
          src="/images/svg/white_logo.svg"
          alt="Logo"
          class="logo-image"
          fetchpriority="high"
          loading="eager"
          width={60}
          height={40}
        />
      ) : (
        <a href="/" class="logo-link" aria-label="На главную" data-astro-prefetch="hover">
          <Image
            src="/images/svg/white_logo.svg"
            alt="Logo"
            class="logo-image"
            fetchpriority="high"
            loading="eager"
            width={60}
            height={40}
          />
        </a>
      )
    }
    <h1 class="title">Pantera</h1>
    <div class="header-spacer"></div>
  </div>
</header>

<style>
  .header {
    background-color: var(--color-header-overlay);
    backdrop-filter: blur(2px);
    border-bottom: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .header-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-family: 'KabrioAbarth', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-text-cream);
    background-color: var(--color-bg-orange);
    line-height: 1;
    margin: 0;
  }

  .logo-image {
    display: block;
    object-fit: cover;
    fill: --color-bg-cream;
  }

  .logo-link {
    display: inline-flex;
    align-items: center;
    line-height: 0;
    text-decoration: none;
    transition:
      opacity 0.2s,
      transform 0.2s;
  }

  .header-spacer {
    width: 60px;
  }

  @media (hover: hover) and (pointer: fine) {
    .logo-link:hover {
      opacity: 0.8;
      transform: scale(1.05);
    }
  }

  .logo-link:active {
    transform: scale(1.05);
  }

  @media (min-width: 481px) {
    .header-content {
      padding: 1rem 1.5rem;
    }

    .title {
      font-size: 2rem;
      font-weight: 900;
    }
  }

  @media (min-width: 576px) {
    .logo-image {
      width: 70px;
      height: 50px;
    }
  }

  @media (min-width: 1024px) {
    .header-content {
      padding: 1.25rem 1.5rem;
      margin: 0 auto;
    }

    .title {
      font-size: 2.25rem;
      font-weight: 900;
    }
  }

  @media (min-width: 1440px) {
    .header-content {
      max-width: 1440px;
    }
  }
</style>
